<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BTS</title>
  </head>
  <body>
    <header th:replace="~{/fragments/header.html :: fragment-header}"></header>
    <pre>
[[${gp_name1}]]
        [[${gp_price1}]]
        [[${gp_img1}]]
        [[${gp_color1}]]
        [[${gp_size1}]]
    </pre>
  </body>
</html>
