<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BTS</title>
  </head>
  <body>
    <header th:replace="~{/fragments/header.html :: fragment-header}"></header>
    <pre th:each="order : ${orderList}">
      [[${order.getOrderId()}]]
      [[${['gp_name' + order.getOrderId()]}]]
      [[${['gp_color' + order.getOrderId]}]]
      [[${['gp_size' + order.getOrderId]}]]
      [[${['gp_price' + order.getOrderId]}]]
      [[${['gp_image' + order.getOrderId]}]]
      <img th:src="@{${['gp_image' + order.getOrderId()]}}" alt="" style="height: 200px; height: 200px;">
      [[${['gp_pay' + order.getOrderId]}]]
      [[${['gp_del' + order.getOrderId]}]]
      [[${['gp_sa' + order.getOrderId]}]]
      [[${['gp_da' + order.getOrderId]}]]
      <form method="post" th:action="@{/delivery/delivery/{id}(id=${order.getOrderId()})}">
        <button type="submit">배송 조회</button>
      </form>
    </pre>
  </body>
</html>
