<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>멤버 리스트 출력</title>
    <style>
      tbody td {
        text-align: center;
        border: 1px dotted #555;
      }
      thead td {
        text-align: center;
        border: 3px solid black;
      }
    </style>
  </head>
  <body>
    <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
    <h1>더미 데이터 리스트</h1>
    <div class="container">
      <table>
        <thead>
          <tr>
            <td>멤버고유번호</td>
            <td>멤버주소고유번호</td>
            <td>LogId</td>
            <td>LogPwd</td>
            <td>Name</td>
            <td>Age</td>
            <td>SocialNum</td>
            <td>PhonNum</td>
            <td>Email</td>
            <td>InnerDate</td>
            <td>LogTime</td>
          </tr>
        </thead>
        <tbody>
          <tr th:each="member: ${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.logId}"></td>
            <td th:text="${member.logPwd}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.socialNum}"></td>
            <td th:text="${member.phonNum}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.innerDate}"></td>
            <td th:text="${member.logTime}"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
