<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송 조회</title>
</head>
<body>
    <h1>배송 조회</h1>
    <form method="post" th:action="@{/delivery/show}">
        <div>
            <label for="addrId">받는 사람 주소 :</label>
            <div id="addrId" name="addrId">
                <p><span th:each="addr : ${zipCodeList}" th:value="${addr.getAddrId()}" th:text="${addr.getZipCode()}">우편번호</span></p> 
                <p><span th:each="addr : ${streetAddrList}" th:value="${addr.getAddrId()}" th:text="${addr.getStreetAddr()}">도로명 주소</span></p>
                <p><span th:each="addr : ${detailAddrList}" th:value="${addr.getAddrId()}" th:text="${addr.getDetailAddr()}">상세 주소</span></p>
            </div>
        </div>
        <div>
            <label for="orderId">주문 정보 :</label>
            <div id="orderId" name="orderId">
                <span th:each="order : ${orderId}" th:value="${order.getId()}" th:text="${order.getOrderInfo()}"></span>
            </div>
        </div>
        <div>
            <label for="status">배송 상태</label>
            <select>
                <option value="0">배송 준비 중</option>
                <option value="1">배송 중</option>
                <option value="2">배송 완료</option>
            </select>
        </div>
        <!-- <div>
            <h2>배송 결과</h2>
            <div>
                <p>받는 사람 주소: <span th:text="${addr.getStreetAddr()}">도로명 주소</span> <span th:text="${addr.getDetailAddr()}">상세 주소</span></p>
                <p>주문 정보: <span th:text="${order.getOrderInfo()}"></span></p>
            </div>
        </div> -->
    </form>
</body>
</html>