<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송 조회</title>
</head>
<body>
    <h1>배송 조회</h1>
    <pre th:each="addr : ${addr}">
        [[${['zip' + addr.getId()]}]]
        [[${['str' + addr.getId()]}]]
        [[${['dlt' + addr.getId()]}]]
    </pre>
    <form method="get" th:action="@{/delivery/delivery/{id}}" th:object="${delivery}">
        <!-- <div>
            <label for="addrId">받는 사람 주소 :</label>
            <p>
                <span th:each="addr : ${delList}">
                    <input type="hidden" name="addrId" th:value="${addr.addrId}">
                    <span th:text="${addr.zipCode}">우편번호</span>
                </span>
            </p> 
            <p>
                <span th:each="addr : ${delList}">
                    <input type="hidden" name="addrId" th:value="${addr.addrId}">
                    <span th:text="${addr.streetAddr}">도로명 주소</span>
                </span>
            </p>
            <p>
                <span th:each="addr : ${delList}">
                    <input type="hidden" name="addrId" th:value="${addr.addrId}">
                    <span th:text="${addr.detailAddr}">상세 주소</span>
                </span>
            </p>
        </div>
        <div>
            <label for="orderId">주문 정보 :</label>
            <div id="orderId" name="orderId">
                <span th:each="order : ${orderList}" th:value="${order.orderId}" th:text="${order.orderInfo}"></span>
            </div>
        </div> -->
        <h4>배송상태</h4>
        <p>
            <span id="statusText"></span>
        </p>
    </form>
</body>
<script>
    // <span> 요소 선택
    const statusTextElement = document.getElementById("statusText");

    // 랜덤 인덱스 생성
    const randomIndex = Math.floor(Math.random() * 3);

    // 랜덤 옵션 선택
    let statusText;
    switch (randomIndex) {
        case 0:
            statusText = "배송 준비 중";
            break;
        case 1:
            statusText = "배송 중";
            break;
        case 2:
            statusText = "배송 완료";
            break;
        default:
            statusText = "";
    }

    // <span> 요소에 텍스트 설정
    statusTextElement.textContent = statusText;
</script>
</html>