<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송 조회</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div>
            <h1>
            배송조회
            </h1>
        </div>
        <div>
            <h1>5/22(월) 출고예정</h1>
            <h3>고객님이 주문하신 상품이 출고예정입니다.</h3>
        </div>
        <div class="trackingimg">
            <img src="/bts/src/main/resources/static/images/tracking1.png">
        </div>
    </header>

    <div>
        <h2>기본정보</h2>
    </div>
    <ul>
        <li>
            <h4>BTS택배</h4>
        </li>
        <li>
            <h4>송장번호: <span th:text="${tracking.t_invoice}"></span></h4>
        </li>
        <li>
            <h4>회사 연락처: <span th:text="${tracking.t_code}"></span></h4>
        </li>
    </ul>
    <ul>
        <li>
            <h4>받는 사람  <span th:text="${addr.memberName}"></span> </h4>
        </li>
        <li>
            <h4>받는 주소  <span th:text="${addr.streatAddr}" ></span>
                            <span th:text="${addr.detailAddr}"></span>                
            </h4>
        </li>
        <li>
            <h4>상품수령방법   </h4>
        </li>
    </ul>
</body>
</html>