<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>writer</th>
            <th>content</th>
            <th>date</th>
            <th>count</th>
        </tr>
        <tr th:each="board : ${boardAllList}">
            <td th:text="${board.id}"></td>
            <td><a th:href="@{|/reviewboard/${board.id}|}" th:text="${board.title}"></a></td>
            <td><a th:href="@{/reviewboard/${board.id}}" th:text="${board.title}"></a></td>
            <td th:text="${board.writer}"></td>
            <td th:text="*{#temporals.format(board.cDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td th:text="${board.viewCount}"></td>
        </tr>
    </table>
</body>
</html>