<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <div th:replace="~{/fragments/header.html :: fragment-header}"></div>
  <div th:replace="~{/fragments/headnav.html :: fragment-nav}"></div>

  <br><br>
  <div class="functions">
    <p><a href="/grouppurchase">공동구매</a></p>
    <p><a href="/members">회원 리스트</a></p>
    <p><a href="/addr">주소 리스트</a></p>
    <p><a href="/reviewboard">리뷰게시판</a></p>
    <p><a href="/userBoard/Home">회원요청 게시판</a></p>
    <p><a href="/tracking/tracking">배송조회</a></p>
    <p><a href="/comboard/list">회사요청 리스트</a></p>
  </div>
  <br><br><br>
  <div class="container" th:fragment="group_purchase_gallery(groupPurchaseList)">
    <div class="gallery_top">

    </div>
    <div class="gallery_list">
      <div class="gallery_content" th:each="gallery : ${galleryList}">
        <a th:href="@{|/grouppurchase/view/${gallery.groupPurchaseId}|}">
        <div class="gallery_imgbox" th:style="'background-image:url(' + ${gallery.imagePath} + ');'">

        </div>
      </a>
        <div class="gallery_info">
          <span>주문 건수:[[${gallery.orderCount}]]</span>
          <p>상품명: [[${gallery.productName}]]</p>
          <p>[[${gallery.information}]]</p>
          <p>종료 시간: [[${gallery.saleEndTime}]]</p>
          <p>[[${gallery.brand}]]</p>
          <p>[[${gallery.category}]]</p>
          <div>
            <span style="text-decoration: line-through;">[[${gallery.originalPrice}]]</span>
            <span>[[${gallery.salePrice}]]</span>
          </div>
          <p>최소주문수량: [[${gallery.minQuantity}]] 건</p>
        </div>
      </div>
    </div>
    <div class="gallrey_botoom">

    </div>

  </div>




  <div th:replace="~{fragments/footer.html :: fragment-footer}"></div>
</body>

</html>