<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/reviewboard" method="post" enctype="multipart/form-data">
        <label for="title">글제목</label>
        <input type="text" name="title" id="title">
        <label for="content">내용</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="file" name="file">
        <button type="submit">제출</button>
    </form>
    <div class="stars-rating">
        <input type="radio" id="star" name="star" value="5">
        <label for="star" class="stars">ㅁ★</label>
    </div>

        
    </form>
    <table>
        <thead>
            <tr>
                <th>제목</th>
                <th>내용</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boards}">
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
                <a th:href="@{${board.filePath}}">다운받기</a>
            </tr>
        </tbody>
    </table>



</body>

</html>