<!-- 택배조회Coll -->
<style type="text/css">
    #deliveryColl .collTitle {margin-bottom:16px;}
    #deliveryColl .select_box {border:1px solid #7f9db7;width:135px;height:20px;font-size:12px;}
    #deliveryColl .inp_txt {width:140px;height:14px;padding:4px 0 3px 2px;border-top:1px solid #ababab;border-left:1px solid #ababab;border-bottom:1px solid #ccc;border-right:1px solid #ccc;font-size:12px;line-height:14px;}
    #deliveryColl .wrap_inquiry {padding-bottom:15px;border:1px solid #e8e8e8;background:#f9f9f9;}
    #deliveryColl .wrap_inquiry .box_search {width:701px;padding:13px 0 0 15px;border-top:1px solid #fcfcfc;border-left:1px solid #fcfcfc;}
    #deliveryColl .wrap_inquiry .info_delivery {float:left;}
    #deliveryColl .wrap_inquiry .info_delivery .tit {float:left;padding-right:4px;font-size:12px;font-weight:bold;line-height:22px;color:#000;clear:both;}
    #deliveryColl .wrap_inquiry .info_delivery .cont {float:left;width:154px;}
    #deliveryColl .wrap_inquiry .inp_txt {float:left;width:140px;margin-right:5px;}
    #deliveryColl .wrap_inquiry .btn_inquiry {display:block;overflow:hidden;float:left;width:41px;height:23px;padding:0;border:0;background:url(http://i1.search.daumcdn.net/s/search_all/2011/btn/btn_delivery.gif) no-repeat 0 0;font-size:0;line-height:0;text-indent:-999em;cursor:pointer;}
    #deliveryColl .wrap_inquiry .delivery_num .cont {width:190px;}
    #deliveryColl .wrap_inquiry .refer {float:left;margin:6px 0 0 6px;font:normal 11px '돋움', dotum;color:#777;line-height:13px;}
    /* 관련정보 */
    #deliveryColl .list_relation {margin:12px 0 0 0;clear:both;}
    </style>
    <script type="text/javascript">
    var focusDeleveryNum = function()
    {
    if($('kocn_number').value == "예)1234567890" || $('kocn_number').value == "11자리 숫자만 입력" || $('kocn_number').value == "예)PKR000249650" || $('kocn_number').value == "예)1Z04845XYN48937807")
    {
    $('kocn_number').value = "";
    }
    };
    </script>
    <div id="deliveryColl" class="wid_w">
    <div class="coll_tit">
    <h2 class="tit">배송 조회</h2>
    </div>
    <div class="coll_cont">
    <div class="mg_cont">
    <div class="wrap_inquiry">
    <div class="box_search">
    <form name="kocn_mm" method="post" target="_blank" onsubmit="return kocnSubmit();">
    <fieldset>
        <legend>배송 조회</legend>
            <dl class="info_delivery">
            <dt class="tit">업체명</dt>
                <dd class="cont">
                    <select id="_jsDeliveryCorpListHiddenSelBox" name="_jsDeliveryCorpListHiddenSelBox" class="select_box">
                        <option value="0">선택해 주세요</option>
                        <option value="1">경동택배</option>
                        <option value="2">대신택배</option>
                        <option value="3">대한항공</option>
                        <option value="4">동부택배</option>
                        <option value="5">로젠택배</option>
                    </select>
                </dd>
                </dl>
                    <dl class="info_delivery delivery_num">
                    <dt class="tit">송장번호</dt>
                    <dd class="cont">
                    <input id="kocn_number" type="text" class="inp_txt" style="width:130px" name="kocn_number" value="예)1234567890" onfocus='focusDeleveryNum();'>
                    <input type="submit" class="btn_bus btn_inquiry" value="조회">
                </dd>
            </dl>
        <div class="refer" id="deleveryInfoMes">업체명 선택 후, 송장번호를 입력해주세요.</div>
        <button type="submit" class="btn btn-default">조회하기</button>
    </fieldset>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    