<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송 조회</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <header>
        <div>
            <h1>
            배송조회
            </h1>
        </div>
        <div>
            <h1>방문예정</h1>
        </div>
        <div class="trackingimg">
            <img src="/bts/src/main/resources/static/images/tracking.png">
        </div>
    </header>

    <div>
        <h2>기본정보</h2>
    </div>
    <ul>
        <li>
            <h4>택배사</h4>
        </li>
        <li>
            <h4>송장번호</h4>
        </li>
    </ul>
</body>
</html>