<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송 조회</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="tekbeCompnayListContainer">
        <label for="tekbeCompnayList">택배사</label>
        <select id="tekbeCompnayList" title="택배사 선택">
            <option>선택해 주세요</option>
        </select>
    </div>
    <div id="invoiceNumberContainer">
        <input type="text" id="invoiceNumberText" placeholder="송장번호를 입력하세요">
        <button id="tButton">조회</button>
    </div>
    <div id="myPtag"></div>
    <script>
        $(document).ready(function(){
            var jsonData = {
                "Company": [
                    {
                        "Code": "01",
                        "Name": "CJ대한통운"
                    },
                    {
                        "Code": "02",
                        "Name": "한진택배"
                    },
                    {
                        "Code": "03",
                        "Name": "우체국택배"
                    },
                    {
                        "Code": "04",
                        "Name": "로젠택배"
                    }
                ]
            };

            var $select = $("#tekbeCompnayList");

            $.each(jsonData.Company, function (index, company) {
                $select.append($('<option></option>').attr('value', company.Code).text(company.Name));
            });

            $("#tButton").click(function() {
                var selectCode = $select.val();
                var invoiceNumber = $("#invoiceNumberText").val();

                if(selectCode == "01" && invoiceNumber == "0") {
                    $("#resultContainer").text("일치합니다");
                } else {
                    $("#resultContainer").text("일치하지않습니다.");
                }
            });
        });
    </script>
  <!--  
    <script src="/js/trackingcompany.js"></script>
    <script>
        $(document).ready(function(){
            
                // 택배사 목록 조회 company-api
            $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/js/trackingcompany.js",  // 수정된 경로
                        success: function (data) {
                            var CompanyArray = data.Company;
                            var myData = "";
                            $.each(CompanyArray, function (key, value) {
                            myData += '<option value="' + value.Code + '">' + 'key:' + key + ', Code:' + value.Code + ',Name:' + value.Name + '</option>';
                            });
                            $("#tekbeCompnayList").html(myData);
                        }
                    });
                
        });
    </script> -->
</body>
</html>
