<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>배송 조회</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <h1>배송 조회</h1>
    <div id="tracking">
        <select id="trackinglist" title="배송상태">
            <option>배송상태 선택</option>
            <option value="1">배송 준비중</option>        
            <option value="2">배송 중</option>
            <option value="3">배송 완료</option>
        </select>
    </div>
    <div id="imageContainer">
        <img id="trackingImage" alt="Tracking Image" src=" ">
    </div>
    <script type="text/javascript">
            $(document).ready(function() {
            $("#trackinglist").change(() => {
                let imageValue = $("#trackinglist").val();
                let imageSrc = "";

                if (imageValue == "1") {
                    imageSrc = "/images/tracking1.png";
                } else if (imageValue == "2") {
                    imageSrc = "/src/main/resources/static/images/tracking2.png";
                } else if (imageValue == "3") {
                    imageSrc = "/src/main/resources/static/images/tracking3.png";
                }

                $("#trackingImage").attr("src", imageSrc);
            });
            });
    </script>
</body>
</html>
