<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/grouppurchase/groupPurchaseView.css}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link th:href="@{/css/jm.css}" rel="stylesheet" />
    <title>BTS</title>
</head>

<body>
    <header th:replace="~{/fragments/header.html :: fragment-header}">
    </header>
    <div class="container">
        <div class="gp-contents">
            <div class="row">
                <div class="gp-imgArea">
                    <div class="gp-img-main-wrap">
                        <img class="gp-img-main" th:if="${images[0]}" th:src="${images[0].imagePath}" />
                    </div>
                    <div class="gp-img-nav">
                        <ul>
                            <li th:each="image : ${images}">
                                <img th:src="${image.imagePath}" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gp-infoArea">
                    <div class="gp-info-row">
                        <h3 th:text="${product.name}"></h3>
                        <p th:if="${product.brand}" th:text="${product.brand}"></p>
                    </div>
                    <div class="gp-info-row">
                        <pre>[[${gp.information}]]</pre>
                    </div>
                    <div class="gp-info-row"></div>
                    <div class="gp-info-row">
                        <span>소비자가</span>
                        <span th:text="${product.originalPrice}"></span>
                    </div>
                    <div class="gp-info-row">
                        <span>판매가</span>
                        <span th:text="${gp.price}"></span>
                        <span id="discount_rate"></span>
                    </div>
                    <hr>
                    <div class="gp-info-row">
                        <form action="/payment" method="post">
                            <select th:if="${session.logInMember}" id="gp-select" name="groupPurchaseProductOptionId">
                                <option disabled selected>옵션을 선택해주세요</option>
                                <option class="gp-option" th:each="gppo : ${GPPOList}" th:value="${gppo.id}">
                                    [[${gppo.optionColor}]] | [[${gppo.optionSize}]] | 남은수량: [[${gppo.quantity}]]
                                </option>
                            </select>
                            <input th:if="${session.logInMember}" th:value="${session.logInMember.id}"
                                name="memberId" />
                            <input th:value="${gp.id}" name="groupPurchaseId" />
                            <p th:unless="${session.logInMember}">상품을 구매하려면 로그인이 필요합니다.</p>
                            <a th:unless="${session.logInMember}" href="/members/logIn"><button
                                    type="button">로그인</button></a>
                            <button th:if="${session.logInMember}" type="submit">바로구매</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="gp-detail">

            </div>
            <div class="gp-review">

            </div>
            <div class="gp-guide">

            </div>
        </div>
    </div>
    <script th:inline="javascript">
        //할인 퍼센테이지 표시
        {
            let oriPrice = /*[[${product.originalPrice}]]*/"#";
            let salePrice = /*[[${gp.price}]]*/"##";
            if (oriPrice != "#" && salePrice != "##") {
                $("#discount_rate").text(parseInt(100 * (1 - salePrice / oriPrice)) + "%↓↓");
            } else if (oriPrice == salePrice) {
            } else {
                $("#discount_rate").text("error");
            }
        }
    </script>
</body>

</html>