<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <form>
            <button onclick="openProductRegister()">상품등록</button>
            <a href="/product/new"><burron>상품등록2</burron></a>
        </form>
    </div>
    <script src="/js/product.js"></script>
    <script>
    </script>
</body>
</html>