<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>ComBoard write</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="~{/fragments/header.html :: fragment-header}"></header>
<h1>Create ComBoard</h1>
    <form method="post" th:action="@{/comboard/create}" enctype="multipart/form-data"> <!-- th:action="@{/show}"건들지마 -->
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" required>
회사 :                 
신발 이름 :
판매 내용 :
            </textarea>
        </div>
        <div>
            <label for="createdBy">작성자:</label>
            <input type="text" id="createdBy" name="createdBy" required>
        </div>
        <div>
            <label for="BN">사업자 번호:</label>
            <input type="text" id="BN" name="BN" required>
        </div>

        <div>
            <laber>업로드</laber>
            <input type="file" name="file"/>
        </div>
        <button type="submit">등록</button>
    </form>
    <form method="post">
        <button type="submit" formaction="/comboard/list">취소</button>
    </form>
</body>
</html>