<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>ComBoard List</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h1>회사 요청 게시판</h1>
<table>
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>날짜</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="comBoard : ${comBoardList}">
    <td th:text="${comBoard.id}"></td>
    <!--<td><a th:href="@{/comboard/show/{id}(id=${comBoard.id})}" th:text="${comBoard.title}"></a></td>-->
    <td><a th:href="@{/comboard/check-bn/{id}(id=${comBoard.id})}" th:text="${comBoard.title}"></a></td>
    <td th:text="${comBoard.createdBy}"></td>
    <td th:text="${comBoard.createAt}"></td>
  </tr>
  </tbody>
</table>
<form method="post">
<button type="submit" th:formaction="@{/comboard/create}" formmethod="get">작성</button>
<!-- <a th:href="@{/comboard/create}">작성</a> -->
</form>
</body>
</html>