<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>comshow</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <h1>회사 요청 게시판</h1>
        <p>제목: <span th:text="${comBoard.title}"></span></p>
        <p>내용: <span th:text="${comBoard.content}"></span></p>
        <p>작성자: <span th:text="${comBoard.createdBy}"></span></p>
        <p>사업자 번호: <span th:text="${comBoard.BN}"></span></p>

        <form method="post">
            <button type="submit" formaction="/comboard/list">목록</button>
            <button type="submit" th:formaction="@{/comboard/modify/{id}(id=${comBoard.id})}" formmethod="get">수정</button>
        </form>

        <form th:action= "@{/comboard/delete/{id}(id=${comBoard.id})}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete</button>
        </form>


</body>
</html>
