<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTS</title>
  <style>
    th {
      border: 1px solid ;
      text-align: center;
    }
    
    td {
      border: 1px solid red;
      text-align: center;
      width: 200px;
      overflow: hidden;
    }
    
 
  </style>
</head>
<body>

  <h1>User Board Home</h1>
  <p>게시물 리스트</p>
    <form action="/userBoard/Create" method="post">
      <input type="submit" value="등록">
    </form>


    <table>
      <thead>
        <tr>
          <th class="shortText">Number</th>
          <th class="longText" style="color: blue;">userBoardTitle</th>
          <th class="longText">userBoardContent</th>
          <th class="shortText">memberId</th>
          <th class="longText">DateTime</th>
          <th class="longText">UpdateDateTime</th>
          <th class="shortText">offerCount</th>
        </tr>
      </thead>
      <tbody>
         <tr th:each="userBoard : ${userBoards}" class="shortText">
          <td th:text="${userBoard.userBoardNumber} " class="shortText"></td>
          <!-- 타임리프에서 쓰려면 이렇게 써야 번호가 나온다 -->
          <td><a th:href="@{|/userBoard/Read/${userBoard.userBoardNumber}|}" th:text="${userBoard.userBoardTitle}"></a></td>
          <td th:text="${userBoard.userBoardContent}" class="longText"></td> 
          <td th:text="${userBoard.id}"  class="shortText"></td> 
          <td th:text="${userBoard.DateTime}" class="longText"></td> 
          <td th:text="${userBoard.UpdateDateTime}" class="longText"></td> 
          <td th:text="${userBoard.offerCount}"  class="shortText"></td> 
        </tr>
      </tbody>
    </table> 
    
  
</body>

</html>