<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTS</title>
</head>
<body>
  <h1>User Board Create</h1>
  <p>게시물 작성 페이지</p>
      <form action="/userBoard/Home" method="post">
        <textarea name="userBoardTitle" id="userBoardTitle" cols="50" rows="1" placeholder="Title를 입력하시오."></textarea><br>
        <textarea name="userBoardContent" id="userBoardContent" cols="50" rows="10" placeholder="Content를 입력하시오."></textarea><br>
        <input type="submit" value="저장">
      </form>
      <h1 th:text="${userBoardTitle}">Title</h1><h1 th:text="${userBoardContent}">Content</h1>
      <h1 th:text="${#temporals.format(userBoardDateTime, 'yyyy-MM-dd HH:mm:ss')}"></h1>

  </div>
</body>

</html>